/*
Colors used:
Primary Color (): #;
Secondary Color (): #;
*/

body {
    background-color: ;
    font-family: ;
    font-size: 16px;
    font-weight: ;
    line-height: ;
    color: ;   
  }

  h1 {
    font-size: ;
    font-weight: ;
  }

  h2 {
    font-size: ;
    font-weight: ;
  }

  h3 {
    font-size: ;
    font-weight: ;
  }

  h4 {
    font-size: ;
    font-weight: ;
  }

  h5 {
    font-size: ;
    font-weight: ;
  }

  img {
    width: 100%;
  }