/*
Colors used:
Primary Color (Light green): #a7b9b3d9;
Secondary Color (Beige): #c7baa875;
Background (White): #F5F5F5;
Background (Off-white): #EDEDED;
Accent (Blue): #0028FF;
Accent links (Green): ##176859;
Accent main header (Black): #212121;
Accent sec head and body (Grey): #383838;
*/

/*
Typography used:
Playfair Display: heading / Regular 400 / Regular 400 Italic / SemiBold 600 / Black 900
Syne: heading / Regular 400 / Bold 700
Unbounded: Light 300 / Regular 400 / Medium 500 / SemiBold 600 / Bold 700 / ExtraBold 800 / Black 900
Comfortaa: body / Light 300 / SemiBold 600
Inter: body / ExtraLight 200 / Light 300 / SemiBold 600 / Black 900
Red hat display: body / Light 300 / Light 300 Italic / Regular 400 / Regular 400 Italic / Bold 700 / Bold 700 Italic
*/

* {
    box-sizing: border-box;
  }

body {
    background-color:#EDEDED;
    font-family: red hat display;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #383838;   
    display: block;
    justify-content: center;
  }

  h1, h2, h3, h4, h5 {
    line-height: 1.4;
    text-align: center;
    margin-top: 45px;
  }

  h1 {
    font-family: 'Unbounded', serif;
    font-size: 1.89em;
    font-weight: 600;
    color: #212121; 

  }

  h2, h3, h4, h5 {
    font-family: 'Unbounded', serif;
    line-height: 1.4;
    color: #383838;
  }
  
  h2 {   
    font-size: 2.25em;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
  }

  h3 {
    font-size: 1.62em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.05em;
    font-weight: 400;
  }

  h5 {
    font-size: .85em;
    font-weight: 400;
  }

  img {
    width: 100%;
    display: block;
    justify-content: center;
  }

  a {
    font-family: syne;
    font-size: 1.30em;
    color:  #547b74;
    text-decoration: none;
    transition: 0.6s color; 
  }
  a:hover,
  a:focus {
    color:  #0c3830;
    font-weight: 500;
  }

  a:active {
    color: #082721;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #435551;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    font-size: 1.10em;
    text-align: center;
    padding: 10px;
    margin: 40px;
    border-radius: 30px;
    border-bottom: 2px solid #435551; /* width of the border, type, color */
    transition: 0.3s opacity,0.6s background-color;
    display: flex;
    justify-content: center;
  }

  .button:hover,
  .button:focus {
    opacity: 0.75; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    color: #ffffff;
  }
  
  .button:active {
    background-color: #0a3029;
    color: #ffffff;
  }

  .button.contact {
    background-color: transparent;
  color: #435551;
  text-transform: uppercase;
  border: 2.5px solid #435551;
  }

  .button.contact:hover,
  .button.contact:focus {
    background-color: #435551;
    color: #ffffff;
  }

  .button.contact:active {
    background-color: #0a3029;
    color: #ffffff;
  }


 header {
    background-color:#b1c0bd;
    padding: 10px 0 4px;
    margin: 10px;
    margin-top: 0px;
    border-bottom: 1px solid #a7a4a4;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 14px 12px -10px rgba(143,143,143,1);
    -moz-box-shadow: 0px 14px 12px -10px rgba(143,143,143,1);
    box-shadow: 0px 14px 12px -10px rgba(143,143,143,1);
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  main {
    margin: auto 10px;
    margin-top: 0px;
    padding-top: 30px;
  }


  /* Layout styling */
  .container {
    padding: 0 35px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #work_section {
    margin-top: 45px;
  }

  #work_section h2 {
padding-bottom: 30px;
  }


  #work_section .row1 {   
    border-bottom: 1px solid #77777756;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  #work_section .row2 {   
    padding-bottom: 50px;
    padding-top: 60px;
  }

  #hero_section h1 {
    text-align: center; 
    font-size: 1.88em;
  }


  #logo {
    max-width: 100px;
    font-family: syne;
    color: #435551;
    font-weight: 900;
    font-size: 1.2em;
  }

  #logo:hover
  #logo:focus {
    padding: 0 15px;
    text-transform: uppercase;
  }

  #logo:active {
    color: #0a3029;
  }

  .navtoggle.responsive li  {
    display: block;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }

  

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5c706c;

  }
  
  nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #125145;
  }

  nav > ul > li > a:active {
  color: #0a3029;
}

#hero_section {
    background-color: #b1c0bd;
    padding: 20px 0;
    padding-bottom: 35px;
    margin-top: 10px;
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
    border-radius: 35px;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

#hero_section .filled_section_box {
    padding-top: 0px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

  #hero_section h1 {
    margin-top: 30px;
  }

#hero_section span {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
}

#process_section span {
    display: block;
    font-size: 0.65em;
    font-weight: 100;
}

  #footer_section {
    background-color: #a7b9b3d9;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
  }

  
.about_picture {
    margin: 10px 0;
    border-radius: 150px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

.about_header {
    margin-top: 45px;
    text-align: center;
}

.filled_section_box {
    background-color: #c7baa875;
    padding: 35px;
    padding-top: 10px;
    display: inline-block;
    width: 100%;
    border-radius: 35px;
    margin-top: 25px;
    text-align:justify;
    margin-bottom: 65px;
}


.outlined_section_box {
    padding: 15px;
    padding-bottom: 35px;
    margin: 40px 0;
    background-color: transparent;
    border: 2px solid #c7baa875;
    border-radius: 35px;
    list-style-position: outside;
}


.fitted_top_picture {
    margin: 10px 0;
    border-radius: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

.text_align_left {
    text-align: left;
}

.text_align_center {
    text-align: center;
    display: flex;
    justify-content: center;
}

.isolated_padding {
    padding: 60px;
}

.section_padding {
    padding: 55px;
}

hr.full { /*line divider*/
        border-top: 2px solid #c7baa875;
}

hr.small { /*small line divider*/
    border-top: 2px solid #c7baa875;
    width: 190px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
  }

space-around {
    padding: 20%;
}  

h1 span {
    display: block;
    font-size: 0.75em;
    font-weight: 400;
}

body span{
    padding-top: 15px;
 }

#process_section h3 {
    font-size: 1.4em;
}

#skills li {
    min-width:80px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    font-size: 14px;
}

#tools li {
    min-width:80px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    font-size: 14px;
}

#my_story p {
    padding-bottom: 20px;
    font-size: 14px;
}


.navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
    padding-bottom: 8px;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
  }

  .navtoggle.responsive nav {
    padding: 15px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

/*Responsive styling*/

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    
    header {
        text-align: unset;
        padding: 20px 0 15px;
      }

    #logo {
        min-width: 641px;
        font-size: 2.1em;
    }

    nav > ul {
        margin: 1em 0;
      }

    nav > ul > li {
        display: inline-block;
      }

      nav {
        width: auto;
        float: right;
     }

     body {
        font-size: 18px;
     }

     body span{
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 15px;
     }

     .col-md-6 {
        width: 50%;
      }

      .col-md-8 {
        width: 66.66%;
      }

      .col-md-4 {
        width: 33.33%;
      } 

      [class*="col-"] {
        float: left;
        padding: 15px;
      }  

      #hero_section {
        padding-top: 110px;
        padding-bottom: 45px;
      }

      #footer_section p {
        font-size: 1.45em;
      }

      #footer_section .button {
        font-size: 1.45em;
      }

      
      #footer_section i {
        font-size: 2.0em;
      }

      .navtoggle li:not(:last-child) {
        display: inline-block;
      }
      .navtoggle li:last-child {
        display: none;
      }      

      #my_story p {
        font-size: 1.0em;
      }

      #my_story .filled_section_box {
        padding-top: 95px;
      }
    
      .about_header {
        padding-top: 40px;
        font-size: 1.55em;
      }


      #fittedpage h1 {
        padding-top: 90px;
        font-size: 2.35em;
      }

      #skills_and_tools li {
        font-size: 1.0em;
      }

      #skills_and_tools .outlined_section_box {
        margin-top: 0px;
      }

}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    body {
        font-size: 18px;
     }
    
    #logo {
        font-size: 2.2em;
    }

    .col-lg-7 {
        width: 58.33%;
      }  

    .col-lg-6 {
        width: 50%;
    }  

    .col-lg-5 {
        width: 41.66%;
      } 

    [class*="col-"] {
        float: left;
        padding: 15px;
      }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }

    .fitted_top_picture {
        width: 100%;
        border-radius: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
    }

    #process_section {
        margin-top: 90px;
    }

    #work_section h2 {
        padding-bottom: 60px;
          }  

   #my_story p {
       font-size: 1.0em;
          }      

    h4 {
        font-size: 1.35em;
    }      

    #fittedpage .outlined_section_box p {
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 25px;
    }

    #process_section h2{
        padding-top: 45px;
        font-size: 2.30em;
    }

    #process_section h3{
        padding-top: 35px;
        font-size: 1.75em;
    }

    #process_section h4{
        padding-top: 25px;
    }

    #process_section span{
    padding-top: 20px;
    }

    #process_section hr {
    margin-top: 20px;
    margin-bottom: 20px;
    }

    #process_section .button {
        margin-top: 70px;
        margin-bottom: 70px;
    }


}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* Animation */

svg {
    width: 100%;
    max-width: 100%;
    height: auto;   
}


@keyframes color-change {
    0% {fill: #fdda75;}
    50% {fill: #f1d849;}
    100% {fill: #e6986f;}
  }


#sun {
    animation: 4s color-change infinite alternate linear;
    animation-name: color-change;
}

@keyframes bird-moving-up {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,320px);}
}

#topbird {
    animation: 5s bird-moving-up infinite alternate linear;
 }

 @keyframes bird-moving-left {
    from {transform: translate(130,50px);}
    to {transform: translate(-300px,450px);}
}

#lowerbird {
    animation: 5s bird-moving-left infinite alternate linear;
} 

