/*
Colors used:
Primary Color (Dark Beige): #BFB288;
Secondary Color (Beige): #DCD1C3;
Background (White): #F5F5F5;
Background (Off-white): #EDEDED;
Accent (Blue): #0028FF;
Accent links (Green): ##176859;
Accent main header (Black): #212121;
Accent sec head and body (Grey): #383838;
*/

/*
Typography used:
Playfair Display: heading / Regular 400 / Regular 400 Italic / SemiBold 600 / Black 900
Syne: heading / Regular 400 / Bold 700
Unbounded: Light 300 / Regular 400 / Medium 500 / SemiBold 600 / Bold 700 / ExtraBold 800 / Black 900
Comfortaa: body / Light 300 / SemiBold 600
Inter: body / ExtraLight 200 / Light 300 / SemiBold 600 / Black 900
Red hat display: body / Light 300 / Light 300 Italic / Regular 400 / Regular 400 Italic / Bold 700 / Bold 700 Italic
*/

body {
    background-color:#EDEDED;
    font-family: red hat display;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #383838;   
  }

  h1, h2, h3, h4, h5 {
    line-height: 1.4;
  }

  h1 {
    font-family: 'Unbounded', serif;
    font-size: 2.95em;
    font-weight: 600;
    color: #212121; 
  }

  h2, h3, h4, h5 {
    font-family: 'Unbounded', serif;
    line-height: 1.4;
    color: #383838;
  }
  
  h2 {   
    font-size: 2.35em;
    font-weight: 300;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 300;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 300;
  }

  h5 {
    font-size: 1.00em;
    font-weight: 300;
  }

  img {
    width: 100%;
  }

  a {
    font-family: syne;
    font-size: 1.30em;
    color:  #176859;
    text-decoration: none; 
  }
  a:hover,
  a:focus {
    color:  #125145;
    font-weight: 500;
    /* possible styling choice
    font-size: 1.35em; 
    font-weight: 600; */
  }

  a:active {
    color: #0a3029;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #125145;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 30px;
    border-bottom: 2px solid #176859; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.85; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    color: #ffffff;
  }
  
  .button:active {
    background-color: #0a3029;
    color: #ffffff;
  }

  .button.contact {
    background-color: transparent;
  color: #125145;
  text-transform: uppercase;
  border: 2.5px solid #125145;
  }

  .button.contact:hover {
    background-color: #125145;
    color: #ffffff;
  }

  .button.contact:active {
    background-color: #0a3029;
    color: #ffffff;
  }